body{
background-color:#000000;
color:white;
}
h1{
text-align:center;

}
p{
text-align:center;

}
table{
text-align:center;

}
td{
border:1px solid white;
background-color:#ff0000;
border-radius:10px;
}
.achNO{
width:100px;
height:100px;
background-image: radial-gradient(#ff0000,#000000);
//background-color:#777777;
border-radius:20px;
}
.achYES{
width:100px;
height:100px;
background-image: radial-gradient(#00ff00,#000000);
//background-color:#00ff00;
border-radius:20px;
}


